@import ../../style/base-setting
.rate-big
  float: left
  height: 46px
  padding: 0 10px
  &:not(:checked)
    >
      input
        position: absolute
        top: -9999px
      label
        float: right
        width: 1em
        overflow: hidden
        white-space: nowrap
        cursor: pointer
        font-size: 30px
        color: #ccc
        &:before
          content: '★'
.rate-big
  > input:checked ~ label
    color: #ffc700
  &:not(:checked) > label:hover
    color: #deb217
    ~ label
      color: #deb217
  >
    input:checked
      + label:hover, ~ label:hover
        color: #c59b08
        ~ label
          color: #c59b08
    label:hover ~ input:checked ~ label
      color: #c59b08
.send
    display: flex
    flex-direction: column
    width: 85vw
    margin: 1% auto
    align-items: center    
    @extend %text-link
    @extend %button-none
    font-size: 2rem
    text-align: center
    width: 100vw
    top: 100%
    padding: 1%

.rate-form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.comment
  background-color: $color-red
  height: 20vh