@import ../../style/base-setting
.profile
    &__reviews
        position: relative
        padding: 0 10px
.reviews-list
    z-index: 0
    border-top: 2px solid white
    display: flex
    height: 35vh
    overflow: scroll
    flex-direction: column
  
.info
    width: 80vh
.comment
    font-family: $font
    font-weight: 200
    text-align: left
    text-decoration: none
    font-size: 1rem
    color: $color-white
    padding: 5px 0px
.date
    font-family: $font
    font-weight: 200
    text-align: left
    text-decoration: none
    font-size: 0.8rem
    opacity: 0.8
    color: $color-white
    padding: 5px 0
.rate-star
    padding: 1px 0

.info-photo
    display: flex
    flex-direction: row
.username
    font-family: $font
    font-weight: 500
    text-align: center
    text-decoration: none
    font-size: 1.2rem
    color: $color-white

